<div class="rm-header-sticky">
  <div class="btn">
    <a href="/">Back</a>
  </div>
  <div class="rm-header-container">
    <div>
      <h2 class="text-xl text-light pt-2">Remove People</h2>
      <p class="text-lg text-shadow">Choose which people you wish to remove</p>
    </div>
    <div class="ml-auto selected-items-container">
      <span></span>
      <div class="ml-3 btn">
        <a>Remove</a>
      </div>
    </div>
  </div>
</div>

<div id="rm-main-container">
  <div class="table-container mb-6">
    {{#each people}}
      <div class="person-row">
        <label for="checkbox-{{id}}" class="custom-checkbox p-4">
          <input type="checkbox" id="checkbox-{{id}}" name="peopleId" value="{{id}}" title="Check">
          <span class="checkmark">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd">
                </path>
            </svg>
          </span>
        </label>
        <div class="person-avatar-sm">
          {{{ avatar }}}
        </div>
        <h3 class="text-lg text-shadow ml-2">{{fullName}}</h3>
      </div>
    {{/each}}
  </div>
</div>

{{> success }}
{{> error}}

<script src="/js/handlePeopleDelete.js"></script>